<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row">
        <div class="col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" formControlName="tema"
            [ngClass]="{'is-invalid': f.tema!.errors && f.tema!.touched}" placeholder="Insira o Tema">
          <div *ngIf="f.tema!.errors?.required" class="invalid-feedback">
            Tema é obrigatorio
          </div>
          <div *ngIf="f.tema!.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.tema!.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" formControlName="local" placeholder="">
          <div class="invalid-feedback">
            Local é obrigatorio
          </div>
        </div>
        <div class="col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control" formControlName="dataEvento" placeholder="">
          <div class="invalid-feedback">
            Data e Hora é obrigatorio
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Quantidade de Pessoas</label>
          <input type="text" class="form-control" formControlName="qtdPessoas" placeholder="">
          <div class="invalid-feedback">
            Quantidade de Pessoas é obrigatorio
          </div>
        </div>
        <div class="col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" placeholder="(000) 90000-0000">
          <div class="invalid-feedback">
            Telefone é obrigatorio
          </div>
        </div>
        <div class="col-md-4">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" placeholder="e-mail">
          <div class="invalid-feedback">
            E-mail é obrigatorio
          </div>
        </div>
        <div class="col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control" formControlName="imageURL" placeholder="imagem">
          <div class="invalid-feedback">
            Imagem é obrigatorio
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
