/* Bootswatch */
@import "../node_modules/bootswatch/dist/cosmo/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/cosmo/bootswatch";

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* NGX imports */
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.pt-7,
.py-7 {
  padding-top: 7rem !important;
}

.pr-7,
.px-7 {
  padding-right: 7rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 7rem !important;
}

.pl-7,
.px-7 {
  padding-left: 7rem !important;
}


@media (min-width: 992px) {
  .pt-lg-7,
  .py-lg-7 {
    padding-top: 7rem !important;
  }

  .pr-lg-7,
  .px-lg-7 {
    padding-right: 7rem !important;
  }

  .pb-lg-7,
  .py-lg-7 {
    padding-bottom: 7rem !important;
  }

  .pl-lg-7,
  .px-lg-7 {
    padding-left: 7rem !important;
  }
}


